@font-face {
	font-family: 'Open Sans Condensed Bold';
	src: url('../../fonts/opensans-condbold-webfont.woff2') format('woff2'),
	url('../../fonts/opensans-condbold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed Light';
	src: url('../../fonts/opensans-condlight-webfont.woff2') format('woff2'),
	url('../../fonts/opensans-condlight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Bold';
	src: url('../../fonts/playfairdisplaysc-bold-webfont.woff2') format('woff2'),
	url('../../fonts/playfairdisplaysc-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Regular';
	src: url('../../fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
	url('../../fonts/playfairdisplaysc-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
