$templateWidth: 1400;
$minDynamicWidth: 320;
$maxDynamicWidth: $templateWidth * 2;

$fontSizeDefault: 16px;

$white: #ffffff;
$black: #000000;
$red: #ff0000;

$mainColor: $black;
$mainBgColor: $white;

$headerBgColor: #b3916c;

$suitesButtonColor: #590c0c;
